.meu-container {
  display: grid;
  grid-template-rows: 6em 1fr;
  grid-template-columns: 1fr 80% 1fr;

  grid-template-areas:
    "nav nav nav"
    ". table .";
}

#minha-linda-tabela {
  grid-area: table;
}

#meu-nav {
  grid-area: nav;
}